{% load helper_tags %}
{% if paginator %}
<div class="pager">


        <div>Страница {{ page_obj.number }} из {{ paginator.num_pages }}</div>
        <ul class="pagination">


        {% if show_first_page %}
             <li>
            {% if url %}
                 <a class="pager_link" id="pager-link-first" href="{{ url }}{% get_get_parameters_exclude page=1 %}">Первая</a>
                {% else %}
                <a class="pager_link" id="pager-link-first" href="{{ request.path }}{% get_get_parameters_exclude page=1 %}">Первая</a>
                {% endif %}
            </li>
             {% endif %}
            {% for page in short_page_range %}

        {% if page ==  page_obj.number %}

            <li class="active">
                <span>{{ page }}</span>
            </li>

        {% else %}
        <li>
         {% if url %}

        <a class="pager_link" id="pager-link-{{ page }}" href="{{ url }}{% get_get_parameters_exclude page=page %}">{{ page }}</a>
         {% else %}
         <a class="pager_link" id="pager-link-{{ page }}" href="{{ request.path }}{% get_get_parameters_exclude page=page %}">{{ page }}</a>
             {% endif %}
        {% endif %}
        </li>
        {% endfor %}

        {% if show_last_page %}
             <li>
            {% if url %}
                 <a class="pager_link" id="pager-link-last" href="{{ url }}{% get_get_parameters_exclude page=paginator.num_pages %}">Последняя</a>
                {% else %}
                <a class="pager_link" id="pager-link-last" href="{{ request.path }}{% get_get_parameters_exclude page=paginator.num_pages %}">Последняя</a>
                {% endif %}
            </li>
             {% endif %}

        </ul>


    </div>
{% endif %}