{% extends  base_template %}

{% load account %}


{% block content %}

    <h1>Сбросить пароль</h1>
    {% if user.is_authenticated %}
    {% include "super_model/user/_already_logged_in.html" %}
    {% endif %}

    <p>Забыли пароль? Введите свой E-MAIL и мы вышлем Вам ссылку для сброса пароля</p>

    <form method="POST" action="{% url 'password-reset' %}" class="password_reset auth-form" id="password-reset-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Сбросить мой пароль" />
    </form>

    <p>Пожалуйста, свяжитесь с нами, если у Вас возникнут проблемы при сбросе пароля.</p>
{% endblock %}
