{% extends base_template %}


{% block content %}
<div>Вы авторизованы как {{ user }}</div>
<div>Ваш электронный адрес: {{ user.email }}
    {% if not user.email_confirmed %}
    <a href="{% url 'account_email' %}">Подтвердить электронный адрес</a>
    {% endif %}
</div>
    <div class="form">
    <form method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ user_profile_form.as_p }}
{{ user_form.as_p }}

<input type="submit" class="btn btn-menu" value="Сохранить">
</form>
        </div>
<a class="btn btn-menu" href="{% url 'password-change' %}">Сменить пароль</a>
<a class="btn btn-menu" href="{% url 'socialaccount_connections' %}">Управление учетными записями соцсетей</a>
<a class="btn btn-menu" href="{% url 'user-detail' user.pk %}">Информация о пользователе</a>



{% endblock content %}