.date {
  font-size: 0.9em;
  font-style: italic;
}


.hidden {
    display: none;
}


.single-comment-with-level-0{
margin-left: 10px;
}


.single-comment-with-level-1{
margin-left: 30px;
}

.single-comment-with-level-2{
margin-left: 50px;
}


.single-comment-with-level-3{
margin-left: 70px;
}


.single-comment-with-level-4{
margin-left: 90px;
}


.single-comment-with-level-5{
margin-left: 105px;
}



.single-comment-with-level-6{
margin-left: 115px;
}

.single-comment-with-level-7{
margin-left: 125px;
}

.single-comment-with-level-8{
margin-left: 135px;
}

.single-comment-with-level-9{
margin-left: 145px;
}

.single-comment-with-level-10{
margin-left: 155px;
}


.single-comment-with-level-11{
margin-left: 165px;
}

.single-comment-with-level-12{
margin-left: 170px;
}

.single-comment-with-level-13{
margin-left: 175px;
}

.single-comment-with-level-14{
margin-left: 180px;
}

.single-comment-with-level-15{
margin-left: 185px;
}

.single-comment-with-level-16{
margin-left: 190px;
}

.single-comment-with-level-17{
margin-left: 193px;
}

.single-comment-with-level-18{
margin-left: 196px;
}

.single-comment-with-level-19{
margin-left: 199px;
}

.single-comment-with-level-20{
margin-left: 202px;
}



