.date {
  font-size: 0.9em;
  font-style: italic;
}


.hidden {
    display: none;
}


.single-comment-with-level-0{
margin-left: 10px;
}


.single-comment-with-level-1{
margin-left: 30px;
}

.single-comment-with-level-2{
margin-left: 50px;
}


.single-comment-with-level-3{
margin-left: 70px;
}


.single-comment-with-level-4{
margin-left: 90px;
}


.single-comment-with-level-5{
margin-left: 105px;
}



.single-comment-with-level-6{
margin-left: 115px;
}

.single-comment-with-level-7{
margin-left: 125px;
}

.single-comment-with-level-8{
margin-left: 135px;
}

.single-comment-with-level-9{
margin-left: 145px;
}

.single-comment-with-level-10{
margin-left: 155px;
}


.single-comment-with-level-11{
margin-left: 165px;
}

.single-comment-with-level-12{
margin-left: 170px;
}

.single-comment-with-level-13{
margin-left: 175px;
}

.single-comment-with-level-14{
margin-left: 180px;
}

.single-comment-with-level-15{
margin-left: 185px;
}

.single-comment-with-level-16{
margin-left: 190px;
}

.single-comment-with-level-17{
margin-left: 193px;
}

.single-comment-with-level-18{
margin-left: 196px;
}

.single-comment-with-level-19{
margin-left: 199px;
}

.single-comment-with-level-20{
margin-left: 202px;
}

.post-right-block {
  #cancel-mark-button {
    font-size: 0.8em;
  }

  .star {
    background: url(../images/star.gif) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;

  &:hover {
  background: url(../images/star_hover.gif) no-repeat;
  }
  }
}

.box-shadow-mixin {
box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 3px 4px -3px rgba(0,0,0,.3);
}

#social-login {
  a {
    display: inline-block;
    width: 50px;
    height: 50px;
  }

  #google-login {
    background: url(../images/social/google.jpg) no-repeat;
  }

  #facebook-login {
    background: url(../images/social/facebook.jpg) no-repeat;
  }

  #vk-login {
    background: url(../images/social/vk.jpg) no-repeat;
  }
.box-shadow-mixin;
margin-bottom: 10px;
padding: 10px;
width: 180px;
}



#ajax-login-form {
  position: absolute;
    top: 40px;
    width: auto;
    z-index: 10;
    padding: 20px;
    .box-shadow-mixin;
    background-color: white;

  .login-form-inner {
  margin-bottom: 5px;
  }


  /* do not group these rules */
*::-webkit-input-placeholder {
    font-size: 0.8em;
}
*:-moz-placeholder {
    /* FF 4-18 */
    font-size: 0.8em;
}
*::-moz-placeholder {
    /* FF 19+ */
    font-size: 0.8em;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 0.8em;
}


}
