<script>
    $(function() {
    var frm = $('#contact-form');
    frm.on('submit', function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                frm.html(data);
                $("#contact-form-error").html("");
            },
            error: function(data) {
                $("#contact-form-error").html("Ошибка при отправке формы");
            }
        });
        return false;
    });
    });
</script>