				<form method="post" id="contact-form" class="clearfix" action="{% url 'contact_form:add' %}">

				<div class="title"><h1>Свяжитесь с нами</h1></div>
				{% csrf_token %}
				 {{ form.name.errors }}
				 {{ form.name }}
				{{ form.email.errors }}
				 {{ form.email }}

				{{ form.body.errors }}
				 {{ form.body }}
				<input type = hidden name="back_url" value="{{ path }}">
				<input type=submit value="Отправить" id="contact_form_submit">

				</form>
				<div id="contact-form-error"></div>
				{% if not no_scripts %}
				{% include 'contact_form/contact_form_scripts.html' %}
				{% endif %}










