<table class="table" id="plant-table">
<thead><tr><th class="col_1"><p>Растение</p></th><th class="col_2"><p>Синонимы</p></th><th class="col_3"><p>Области применения</p></th><th class="col_4"><p>Рецептов/Отзывов</p></th></tr></thead>
    <tbody>
    {% for obj in objs %}
<tr>
<td class="col_1">
     <h5><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></h5>
</td>
<td class="col_2">

<ul>
        {% for synonym in obj.synonyms.all %}
        <li><a href="{{ obj.get_absolute_url }}">{{ synonym }}</a></li>
        {% endfor %}
        </ul>
</td>

    <td class="col_3">


<ul>
{% for usage_area in obj.usage_areas.get_available %}
    <li><a href="{{ usage_area.get_absolute_url }}">{{ usage_area }}</a></li>

    {% endfor %}
 </ul>
</td>
<td class="col_4">
    {% if obj.published_recipes_count %}
    <label>Рецептов:</label><a href="{{ obj.get_absolute_url }}#recipes">{{ obj.published_recipes_count }}</a>
    {% else %}
    <a href="{{ obj.get_absolute_url }}#comments">Пока нет рецептов</a>
    {% endif %}
    {% if obj.published_comments_count %}

    <label>Отзывов:</label><a href="{{ obj.get_absolute_url }}#comments">{{ obj.published_comments_count }}</a>
    {% else %}
   <a href="{{ obj.get_absolute_url }}#comments">Пока нет отзывов</a>
    {% endif %}
</td>
</tr>
   {% endfor %}
</tbody>
</table>
 {% include 'super_model/base/_pager.html' %}