{% extends base_template %}
{% load main_tags %}
{% load helper_tags %}
{% load compress %}
{% load staticfiles %}
{% block content %}


    <div class="row">
    <div id="full-post">
        <input id="post-pk" type="hidden" value="{{ obj.pk }}">

        <h1><a class="post-title" href="{{ obj.get_absolute_url }}">{{ obj }}</a></h1>
    {% if obj.is_plant %}
        <div class="synonyms">{{ obj.synonyms_text }}</div>
{% if obj.thumb220 %}
    <div class="plant-image"><a href="{{ obj.get_absolute_url }}">
                        <img alt="{{ obj.title }}" class="img-rounded" src="{{ obj.thumb220 }}">
                    </a>
    </div>
    {% endif %}
    {% elif obj.is_recipe %}

        <div class="avatar">
    {% if obj.user %}
<div>
<div class="image-wrapper">
<a class="user" href="{{ obj.user.get_absolute_url }}">

    {% if obj.user.thumb50 %}
    <img alt="{{ obj.user }}" class="img-rounded" src="{{ obj.user.thumb50 }}">
        {% else %}
        <img alt="Гость" class="img-rounded" src="{% static "main/images/guest.png" %}">
     {% endif %}
</a>
</div>
</div>
{% else %}

<img alt="Гость" class="img-rounded" src="{% static "main/images/guest.png" %}">

{% endif %}
</div>


 <div class="user-block">
<div>
<a class="user" href="{{ obj.user.get_absolute_url }}">{{ obj.user }}</a>
<span class="user-info-top">
<a href="{{ obj.user.get_karm_url }}"><span>Карма: </span>{{ obj.user.karm }}</a>
<a href="{{ obj.user.get_activity_url }}"><span>Активность: </span>{{ obj.user.activity }}</a>
</span>
</div>
</div>

    {% endif %}
        {% if user.is_admin %}
            <a class="post-edit-link" href="{{ obj.update_url }}">Редактировать</a>
           {% elif obj.is_recipe and obj.user == user and obj.is_project %}
            <a class="post-edit-link" href="{% url 'recipe-user-update' obj.pk %}">Редактировать</a>
            {% if obj.is_project %}<div class="post-status"><label>Статус: </label>{{ obj.status_text }}</div>{% endif %}

        {% endif %}
        {% if not obj.is_usage_area %}
            <div class="post-top-block">

                {% if obj.is_plant and user.is_regular and obj.is_published %}
                <div id="post-mark-block>">
                        <div id="current-post-mark-block" class="{{ show_your_mark_block_cls }}">
                            <label>Ваша оценка: </label><span id="current-post-mark"> {{ mark }}</span>
                        <input type="button" value="Отменить оценку" id="cancel-mark-button" class="btn btn-warning {{ show_your_mark_block_cls }}">
                        </div>


                        <div id="post-mark" class="{{ show_make_mark_block_cls }}">


                            <label>Оценить: </label>
     <a class="star" id="post-mark-1"></a>
     <a class="star" id="post-mark-2"></a>
     <a class="star" id="post-mark-3"></a>
     <a class="star" id="post-mark-4"></a>
     <a class="star" id="post-mark-5"></a>
                        </div>

                    </div>
{% endif %}


                    {% if obj.is_recipe and user.is_regular and obj.is_published %}
         <div class="recipe-mark-buttons">
                        {% if can_mark %}
         <input class="user-post-unmark-button btn btn-cancel hidden" type="button" id="user-post-unmark-button" value='Отозвать оценку'>
         <input class="user-post-mark-button btn btn-success" type="button" id="user-post-mark-button" value='Рецепт полезен'>
         <input class="user-post-uncomplain-button btn btn-cancel hidden" type="button" id="user-post-uncomplain-button" value='Отозвать оценку'>
         <input class="user-post-complain-button btn btn-danger" type="button" id="user-post-complain-button" value='Рецепт бесполезен'>
        {% elif can_unmark %}
        <input class="user-post-unmark-button btn btn-cancel" type="button" id="user-post-unmark-button" value='Отозвать оценку'>
        <input class="user-post-mark-button btn btn-success hidden" type="button" id="user-post-mark-button" value='Рецепт полезен'>
        <input class="user-post-uncomplain-button btn btn-cancel hidden" type="button" id="user-post-uncomplain-button" value='Отозвать оценку'>
        <input class="user-post-complain-button btn btn-danger hidden" type="button" id="user-post-complain-button" value='Рецепт бесполезен'>


        {% elif can_uncomplain %}
        <input class="user-post-unmark-button btn btn-cancel hidden" type="button" id="user-post-unmark-button" value='Отозвать оценку'>
        <input class="user-post-mark-button btn btn-success hidden" type="button" id="user-post-mark-button" value='Рецепт полезен'>
        <input class="user-post-uncomplain-button btn btn-cancel" type="button" id="user-post-uncomplain-button" value='Отозвать оценку'>
        <input class="user-post-complain-button btn btn-danger hidden" type="button" id="user-post-complain-button" value='Рецепт бесполезен'>


        {% endif %}
</div>
    <div class="post-all-marks-block">

    <div class="post-current-complain" id="post-current-complain">Рецепт сочли бесполезным: <span class="post-current-complain-span" id="post-current-complain-span">{{ obj.complain_count }}</span></div>

        <div class="post-mark-block">
        <span class="post-current-mark" id="post-current-mark">Рецепт сочли полезным: <span class="post-current-mark-span" id="post-current-mark-span">{{ obj.user_marks_count }}</span></span>
{% if obj.user_marks_count %}
    <span class="post-show-marked-buttons">
<input type="button" value="?" class="post-show-marked-users btn">
<input type="button" value="x" class="post-hide-marked-users btn hidden">
</span>

{% endif %}
<div class="post-show-marked"></div>
    </div>

</div>
                    
                        
                        
                        
        {% endif %}
                    {% if obj.is_published %}
                    {% if obj.is_plant %}
                    <div>
                        <label>Средняя оценка: </label><span id="post-average-mark">{{ obj.average_mark }}</span>(количество оценок: <span id="post-marks-count">{{ obj.marks_count }})</span>
                    </div>
                    {% endif %}
                    <div class="comment-count">
                        <label>Количество отзывов: </label><span>{{ obj.published_comments_count }}</span>
                    </div>
                    {% if obj.last_comment_date %}
                        <div>
                            <label>Последний отзыв оставлен: </label><span>{{ obj.last_comment_date }}</span>
                        </div>
                    {% endif %}
                    <a href="#comment-form" class="btn btn-success">Оставить отзыв</a>
                    {% endif %}
            </div>


{% endif %}

        <div class="row">

            <div class="col-xs-12">



                    {% if obj.body %}
                        <div id="post-block">
                            {% if obj.show_body_label %}
                                <h4>{% get_verbose_field_name obj 'body' %}:</h4>
                            {% endif %}
                            {% if obj.is_plant %}
                            {{ obj.body|safe }}
                            {% else %}
                             {{ obj.body|replace_nbsp|safe }}
                            {% endif %}
                        </div>
                    {% endif %}


             {% if obj.is_recipe or obj.is_usage_area and obj.plants.get_available.exists %}
                <h2>Растения:</h2>
                <ul>
            {% for plant in obj.plants.get_available %}
                <li><a href="{{ plant.get_absolute_url }}">{{ plant }}</a></li>
                {% endfor %}
               </ul>
                       {% endif %}



                        {% if not obj.is_usage_area and obj.usage_areas.get_available.exists %}
            <h2>Области применения:</h2>
                <ul>
            {% for usage_area in obj.usage_areas.get_available %}
                <li><a href="{{ usage_area.get_absolute_url }}">{{ usage_area }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if obj.is_plant and obj.wikipedia_link %}
 <div class="wiki-link">
<a href="{{ obj.wikipedia_link }}">Ссылка на страницу Wikipedia</a>
</div>
    {% endif %}


{% if obj.is_recipe %}

    {% if obj.comment %}
    <h2>Комментарий Medavi:</h2>
    {{ obj.comment }}
    {% endif %}


            <div class="recipe-warning">Перед использованием любого рецепта обязательно проконсультируйтесь со специалистом.</div>

            {% endif %}

            <div id="post-related-list">
                {% if obj.is_plant or obj.is_usage_area %}
            {% if obj.recipes.get_available.exists %}
            <div id="recipes">
            <h2>Рецепты:</h2>
                {% for recipe in obj.recipes.get_available %}
                <div class="related-recipe">
                    <div class="avatar">
    {% if recipe.user %}
<div>
<div class="image-wrapper">
<a class="user" href="{{ recipe.user.get_absolute_url }}">
    {% if recipe.user.thumb50 %}
    <img alt="{{ recipe.user }}" class="img-rounded" src="{{ recipe.user.thumb50 }}">
        {% else %}
        <img alt="Гость" class="img-rounded" src="{% static "main/images/guest.png" %}">
        {% endif %}
</a>
</div>
</div>
{% else %}

<img alt="Гость" class="img-rounded" src="{% static "main/images/guest.png" %}">

{% endif %}
</div>


 <div class="user-block">
<div>
<a class="user" href="{{ recipe.user.get_absolute_url }}">{{ recipe.user }}</a>
<span class="user-info-top">
<a href="{{ recipe.user.get_karm_url }}"><span>Карма: </span>{{ recipe.user.karm }}</a>
<a href="{{ recipe.user.get_activity_url }}"><span>Активность: </span>{{ recipe.user.activity }}</a>
</span>
</div>
</div>




                    <div class="recipe-title"><a href="{{ recipe.get_absolute_url }}">{{ recipe }}</a></div>
                <div class="recipe-body">{{ recipe.body|replace_nbsp|safe }}</div>
                <a class="btn btn-success post-recipe-comment-link" href="{{ recipe.get_absolute_url }}#comments">Оставить отзыв о рецепте (уже оставлено - {{ recipe.published_comments_count }})</a>
                <div class="recipe-warning">Перед использованием любого рецепта обязательно проконсультируйтесь со специалистом.</div>
                    <div class="line"></div>
                </div>
            {% endfor %}
            </div>
            {% endif %}




            {% endif %}



            </div>

{% if obj.is_published %}
{% if not obj.is_usage_area %}


                    <div class="comments">
                        <h2>Отзывы:</h2>

                     <div class="comment-filter-form">
                        <form method="get">
                            {{ comments_options_form.as_p }}
                            <input type="submit" value="Применить" class="btn btn-success">
                        </form>
                    </div>

                        {% for comment in comments %}

                            <div class="full-comment">
                                {% get_comment comment %}

                                <div class="comment-children-block">


                                    {% if show_tree %}
                                        {% get_child_comments %}

                                    {% endif %}
                                </div>
                            </div>

                        {% endfor %}
                    </div>

            {% endif %}


                    {% if paginator.num_pages > 1 %}
                        {% include 'super_model/base/_pager.html' with url=obj.get_absolute_url %}
                    {% endif %}
            {% endif %}

{% if not obj.is_usage_area %}



{% if obj.is_published %}
    <div id="comment-form-tabs">
  <ul>
    <li><a href="#tabs-1">Оcтавить отзыв</a></li>
    {% if obj.is_plant %}<li><a href="#tabs-2">Оставить рецепт</a></li>{% endif %}
  </ul>
    {% if obj.is_plant %}
        <div id="tabs-2">
        {% if user.is_authenticated %}
        <form method="post" id="recipe-form" action="{% url 'create-recipe-from-post-detail' obj.pk %}">

                            {% csrf_token %}
                            <div id="recipe-form-inner">
                                {{ recipe_form.media }}
                                {{ recipe_form.as_p }}
                            </div>
                            <input class="btn btn-success" type="submit" value="Отправить">
                        </form>
            {% else %}
            <div id="comment-form-guest-tab-block">Для того, чтобы оставлять рецепты, необходимо <a href="{% url 'signup' %}">зарегистрироваться</a> или <a href="{% url 'login' %}">войти</a> под Вашей учетной записью.</div>
            {% endif %}
  </div>
      {% endif %}
  <div id="tabs-1">
     <div id="answer-to-block" class="hidden">
                            <label>В ответ на:</label><span id="answer-to-span"></span>
                            <input type="button" id="clean-answer-to" value="Очистить">
                        </div>


                        <form method="post" id="comment-form" action="{{ obj.get_absolute_url }}">
                            {% csrf_token %}
                            <div id="comment-form-inner">
                                {{ comment_form.as_p }}
                            </div>
                            <input class="btn btn-success" type="submit" value="Отправить">
                        </form>
  </div>

</div>


 {% endif %}
    {% endif %}
            </div>

        </div>

    </div>
</div>
{% endblock content %}


{% block bottom_scripts %}
        {{ block.super }}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>

    {% compress js %}
        <script>
            $(function () {

    $( "#comment-form-tabs" ).tabs();


                $(document).on('click', '.comment-mark-button', function (e) {
                    var level = $(this).closest('.single-comment').find('.comment-level').val();
                    var pk = $(this).closest('.single-comment').find('.comment-pk').val();
                    var targetSpan = $(this).closest('.single-comment').find('.comment-current-mark-span');
                    var toHide = $(this).closest('.single-comment').find('.comment-mark-button, .comment-complain-button, .comment-uncomplain-button');
                    var toShow = $(this).closest('.single-comment').find('.comment-unmark-button');
                    var data = {'pk': pk, 'action': 'comment-mark'};
                    commentAjaxAction(data, targetSpan, toHide, toShow);
                });

                $(document).on('click', '.comment-unmark-button', function (e) {
                    var level = $(this).closest('.single-comment').find('.comment-level').val();
                    var pk = $(this).closest('.single-comment').find('.comment-pk').val();
                    var targetSpan = $(this).closest('.single-comment').find('.comment-current-mark-span');
                    var toHide = $(this).closest('.single-comment').find('.comment-unmark-button');
                    var toShow = $(this).closest('.single-comment').find('.comment-mark-button, .comment-complain-button');
                    var data = {'pk': pk, 'action': 'comment-unmark'};
                    commentAjaxAction(data, targetSpan, toHide, toShow);
                });


                $(document).on('click', '.comment-complain-button', function (e) {
                    var level = $(this).closest('.single-comment').find('.comment-level').val();
                    var pk = $(this).closest('.single-comment').find('.comment-pk').val();
                    var targetSpan = $(this).closest('.single-comment').find('.comment-current-complain-span');
                    var toHide = $(this).closest('.single-comment').find('.comment-complain-button, .comment-mark-button, .comment-unmark-button');
                    var toShow = $(this).closest('.single-comment').find('.comment-uncomplain-button');
                    var data = {'pk': pk, 'action': 'comment-complain'};
                    commentAjaxAction(data, targetSpan, toHide, toShow);

                });

                $(document).on('click', '.comment-uncomplain-button', function (e) {
                    var level = $(this).closest('.single-comment').find('.comment-level').val();
                    var pk = $(this).closest('.single-comment').find('.comment-pk').val();
                    var targetSpan = $(this).closest('.single-comment').find('.comment-current-complain-span');
                    var toHide = $(this).closest('.single-comment').find('.comment-uncomplain-button');
                    var toShow = $(this).closest('.single-comment').find('.comment-complain-button, .comment-mark-button');
                    var data = {'pk': pk, 'action': 'comment-uncomplain'};
                    commentAjaxAction(data, targetSpan, toHide, toShow);
                });


                $(document).on('click', '.comment-delete-button', function (e) {
                    var level = $(this).closest('.single-comment').find('.comment-level').val();
                    var pk = $(this).closest('.single-comment').find('.comment-pk').val();
                    var targetSpan = null;
                    var toHide = $(this).closest('.single-comment').find('.comment-delete-button');
                    var toShow = $(this).closest('.single-comment').find('.comment-undelete-button');
                    var data = {'pk': pk, 'action': 'comment-delete'};
                    commentAjaxAction(data, targetSpan, toHide, toShow);

                });

                $(document).on('click', '.comment-undelete-button', function (e) {
                    var level = $(this).closest('.single-comment').find('.comment-level').val();
                    var pk = $(this).closest('.single-comment').find('.comment-pk').val();
                    var targetSpan = null;
                    var toHide = $(this).closest('.single-comment').find('.comment-undelete-button');
                    var toShow = $(this).closest('.single-comment').find('.comment-delete-button');
                    var data = {'pk': pk, 'action': 'comment-undelete'};
                    commentAjaxAction(data, targetSpan, toHide, toShow);

                });


                function commentAjaxAction(actionData, targetSpan, toHide, toShow) {
                    toHide.attr('disabled', 'disabled');
                    toShow.attr('disabled', 'disabled');
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'history-ajax-save' %}',
                        data: actionData,
                        success: function (data) {
                            toHide.removeAttr('disabled');
                            toShow.removeAttr('disabled');
                            if (data.saved) {
                                if (targetSpan != null) {
                                    targetSpan.html(data.mark);
                                }
                                toHide.addClass('hidden');
                                toShow.removeClass('hidden');

                            }
                            else {
                                alert('Действие не засчитано');
                            }
                        },
                        error: function (data) {
                        toHide.removeAttr('disabled');
                        toShow.removeAttr('disabled');
                        }
                    });

                }


                $(document).on('click', '.answer-to-comment', function (e) {
                    var level = $(this).closest('.single-comment').find('.comment-level').val();
                    var pk = $(this).closest('.single-comment').find('.comment-pk').val();
                    var action = 'show';


                    $.ajax({
                        type: 'POST',
                        url: '{% url 'comment-get-for-answer-block-ajax' %}',
                        data: {'pk': pk},
                        success: function (data) {
                            $('#id_parent').val(pk);
                            $('#answer-to-block').removeClass('hidden');
// var commentBody = $('#comment-body-level-' + level + '-pk-' + pk).html();
                            $('#answer-to-span').html(data);
                            $('#comment-form-inner #id_body').focus();
                        },
                        error: function (data) {
                        }
                    });


                });


                $('#clean-answer-to').click(function (e) {
                    $('#id_parent').val('');
                    $('#answer-to-block').addClass('hidden');
                    $('#answer-to-span').html('');

                });


                $(document).on('click', '.show-comment-tree', function (e) {
                    var id = this.id;
                    var level = $(this).closest('.full-comment').find('.comment-level').val();
                    var pk = $(this).closest('.full-comment').find('.comment-pk').val();
                    var childrenBlock = $(this).closest('.full-comment').find('.comment-children-block');
                    var actionData = {'pk': pk, 'action': 'comment-tree-show'};
                    var cur = this;
                    var showCommentTreeButton = $(cur).closest('.full-comment').find('.show-comment-tree');
                    var hideCommentTreeButton = $(cur).closest('.full-comment').find('.hide-comment-tree');
                    showCommentTreeButton.attr('disabled', 'disabled');
                    hideCommentTreeButton.attr('disabled', 'disabled');
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'get-comment-tree-ajax' %}',
                        data: actionData,
                        success: function (data) {
                            showCommentTreeButton.removeAttr('disabled');
                            hideCommentTreeButton.removeAttr('disabled');
                            showCommentTreeButton.addClass('hidden');
                            hideCommentTreeButton.removeClass('hidden');
                            childrenBlock.fadeTo('slow', 1, function () {
                                childrenBlock.html(data);
                            });
                        },
                        error: function (data) {
                            showCommentTreeButton.removeAttr('disabled');
                            hideCommentTreeButton.removeAttr('disabled');
                        }
                    });

                });

                $(document).on('click', '.hide-comment-tree', function (e) {
                    var showCommentTreeButton = $(this).closest('.full-comment').find('.show-comment-tree');
                    var hideCommentTreeButton = $(this).closest('.full-comment').find('.hide-comment-tree');
                    $(this).closest('.full-comment').find('.comment-children-block').fadeTo('slow', 0, function () {
                        $(this).closest('.full-comment').find('.comment-children-block').html('');
                    });
                    showCommentTreeButton.removeClass('hidden');
                    hideCommentTreeButton.addClass('hidden');
                });


                $(document).on('click', '.tiny-comment-show-full, .tiny-comment-hide-full', function (e) {
                    var block = $(this).closest('.tiny-comment');
                    var action, toHide, toShow;
                    //var cls = $(this).attr('class');
                    if ($(this).hasClass('tiny-comment-show-full')) {
                        action = 'show';
                        toHide = block.find('.tiny-comment-show-full');
                        toShow = block.find('.tiny-comment-hide-full');
                    }
                    else {
                        action = 'hide';
                        toHide = block.find('.tiny-comment-hide-full');
                        toShow = block.find('.tiny-comment-show-full');
                    }
                    var pk = block.find('.tiny-comment-pk').val();
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'comment-get-tiny-ajax' %}',
                        data: {'pk': pk, 'action': action},
                        success: function (data) {
                            block.find('.tiny-comment-body').html(data);
                            toHide.addClass('hidden');
                            toShow.removeClass('hidden');

                        },
                        error: function (data) {
                        }
                    });

                });


                $(document).on('submit', '#comment-form', function (e) {
                    var frm = $('#comment-form');
                    var innerForm = frm.find('#comment-form-inner');
                    var button = frm.find('.btn');
                    var inputs = frm.find('input, textarea');
                    var formData = frm.serialize();
                    button.attr('disabled', 'disabled');
                    inputs.attr('disabled', 'disabled');
                    $.ajax({
                        type: 'POST',
                        url: frm.attr('action'),
                        data: formData,
                        success: function (data) {

                            if (data.status == 1) {
                                if (!data.published) {
                                    alert('Ваш отзыв будет опубликован после проверки модератором. Спасибо!');
                                }
                                location.href = data.href;
                            }
                            else {
                                innerForm.html(data.comment_form);
                                button.removeAttr('disabled');
                                inputs.removeAttr('disabled');
                            }

                        },
                        error: function (data) {
                            button.removeAttr('disabled');
                            inputs.removeAttr('disabled');
                        }
                    });

                    e.preventDefault();
                });


                 $(document).on('submit', '#recipe-form', function (e) {
                    var frm = $('#recipe-form');
                    var innerForm = frm.find('#recipe-form-inner');
                    var button = frm.find('.btn');
                    var inputs = frm.find('input, textarea');
                    var formData = frm.serialize();
                    button.attr('disabled', 'disabled');
                    inputs.attr('disabled', 'disabled');
                    $.ajax({
                        type: 'POST',
                        url: frm.attr('action'),
                        data: formData,
                        success: function (data) {

                            if (data.status == 1) {
                                if (!data.published) {
                                    alert('Ваш репепт будет опубликован после проверки модератором. Спасибо!');
                                }
                                location.href = data.href;
                            }
                            else {
                                innerForm.html(data.recipe_form);
                                button.removeAttr('disabled');
                                inputs.removeAttr('disabled');
                            }

                        },
                        error: function (data) {
                            button.removeAttr('disabled');
                            inputs.removeAttr('disabled');
                        }
                    });

                    e.preventDefault();
                });


                $(document).on('click', '#post-mark > .star', function (e) {
                    var mark = e.currentTarget.id.replace('post-mark-', '');
                    var pk = $('#post-pk').val();
                    var actionData = {'action': 'post-mark', 'mark': mark, 'pk': pk};
                    $('.star').addClass('hidden');
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'history-ajax-save' %}',
                        data: actionData,
                        success: function (data) {
                            $('.star').removeClass('hidden');
                         if (data.saved) {
                            $('#post-average-mark').html(data['average_mark']);
                            $('#post-marks-count').html(data['marks_count']);
                            $('#current-post-mark-block').removeClass('hidden');
                            $('#current-post-mark').html(data.mark);
                            $('#cancel-mark-button').removeClass('hidden');
                             $('#post-mark').addClass('hidden');
                            $('#id_post_mark').closest('p').addClass('hidden');
                            $('#id_post_mark').closest('p').find('select').val('');
                        }
                            else {
                                alert('Действие не засчитано');
                            }

                        },
                        error: function (data) {
                        $('.star').removeClass('hidden');
                        }
                    });

                });


                $(document).on('click', '#cancel-mark-button', function (e) {

                    var pk = $('#post-pk').val();
                    var actionData = {'action': 'post-unmark', 'pk': pk}
                    $('#user-post-mark-button').removeAttr('disabled');
                        $('#user-post-complain-button').removeAttr('disabled');
                        $('#user-post-unmark-button').removeAttr('disabled');
                        $('#user-post-uncomplain-button').removeAttr('disabled');

                    $.ajax({
                        type: 'POST',
                        url: '{% url 'history-ajax-save' %}',
                        data: actionData,
                        success: function (data) {
                         $('#cancel-mark-button').removeAttr('disabled');
                            if (data.saved) {
                            $('#current-post-mark-block').addClass('hidden');
                            $('#post-mark').removeClass('hidden');
                            $('#current-post-mark').html('');
                            $('#cancel-mark-button').addClass('hidden');

                            $('#id_post_mark').closest('p').removeClass('hidden');
                            $('#post-average-mark').html(data['average_mark']);
                            $('#post-marks-count').html(data['marks_count']);
                        }
                            else {
                                alert('Действие не засчитано');
                            }
                        },
                        error: function (data) {
                        $('#cancel-mark-button').removeAttr('disabled');
                        }
                    });

                });


                $(document).on('click', '#user-post-mark-button', function (e) {
                    var pk = $('#post-pk').val();
                    var actionData = {'action': 'user-post-mark', 'pk': pk};
                    $('#user-post-mark-button').attr('disabled', 'disabled');
                        $('#user-post-complain-button').attr('disabled', 'disabled');
                        $('#user-post-unmark-button').attr('disabled', 'disabled');
                        $('#user-post-uncomplain-button').attr('disabled', 'disabled');
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'history-ajax-save' %}',
                        data: actionData,
                        success: function (data) {
                        $('#user-post-mark-button').removeAttr('disabled');
                        $('#user-post-complain-button').removeAttr('disabled');
                        $('#user-post-unmark-button').removeAttr('disabled');
                        $('#user-post-uncomplain-button').removeAttr('disabled');
                         if (data.saved) {
                            $('#post-current-mark-span').html(data['marks_count']);
                            $('#user-post-mark-button').addClass('hidden');
                            $('#user-post-complain-button').addClass('hidden');
                            $('#user-post-unmark-button').removeClass('hidden');
                        }
                            else {
                                alert('Действие не засчитано');
                            }

                        },
                        error: function (data) {
                        $('#user-post-mark-button').removeAttr('disabled');
                        $('#user-post-complain-button').removeAttr('disabled');
                        $('#user-post-unmark-button').removeAttr('disabled');
                        $('#user-post-uncomplain-button').removeAttr('disabled');

                        }
                    });

                });


                $(document).on('click', '#user-post-unmark-button', function (e) {
                    var pk = $('#post-pk').val();
                    var actionData = {'action': 'user-post-unmark', 'pk': pk};
                    $('#user-post-mark-button').attr('disabled', 'disabled');
                        $('#user-post-complain-button').attr('disabled', 'disabled');
                        $('#user-post-unmark-button').attr('disabled', 'disabled');
                        $('#user-post-uncomplain-button').attr('disabled', 'disabled');
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'history-ajax-save' %}',
                        data: actionData,
                        success: function (data) {
                        $('#user-post-mark-button').removeAttr('disabled');
                        $('#user-post-complain-button').removeAttr('disabled');
                        $('#user-post-unmark-button').removeAttr('disabled');
                        $('#user-post-uncomplain-button').removeAttr('disabled');
                         if (data.saved) {
                            $('#post-current-mark-span').html(data['marks_count']);
                            $('#user-post-mark-button').removeClass('hidden');
                            $('#user-post-complain-button').removeClass('hidden');
                            $('#user-post-unmark-button').addClass('hidden');
                        }
                            else {
                                alert('Действие не засчитано');
                            }

                        },
                        error: function (data) {
                       $('#user-post-mark-button').removeAttr('disabled');
                        $('#user-post-complain-button').removeAttr('disabled');
                        $('#user-post-unmark-button').removeAttr('disabled');
                        $('#user-post-uncomplain-button').removeAttr('disabled');

                        }
                    });

                });



                $(document).on('click', '#user-post-complain-button', function (e) {
                    var pk = $('#post-pk').val();
                    var actionData = {'action': 'user-post-complain', 'pk': pk};
                    $('#user-post-mark-button').attr('disabled', 'disabled');
                        $('#user-post-complain-button').attr('disabled', 'disabled');
                        $('#user-post-unmark-button').attr('disabled', 'disabled');
                        $('#user-post-uncomplain-button').attr('disabled', 'disabled');
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'history-ajax-save' %}',
                        data: actionData,
                        success: function (data) {
                            $('#user-post-mark-button').removeAttr('disabled');
                        $('#user-post-complain-button').removeAttr('disabled');
                        $('#user-post-unmark-button').removeAttr('disabled');
                        $('#user-post-uncomplain-button').removeAttr('disabled');
                         if (data.saved) {
                            $('#post-current-complain-span').html(data['complain_count']);
                            $('#user-post-mark-button').addClass('hidden');
                            $('#user-post-complain-button').addClass('hidden');
                            $('#user-post-uncomplain-button').removeClass('hidden');
                        }
                            else {
                                alert('Действие не засчитано');
                            }

                        },
                        error: function (data) {
                        $('#user-post-mark-button').removeAttr('disabled');
                        $('#user-post-complain-button').removeAttr('disabled');
                        $('#user-post-unmark-button').removeAttr('disabled');
                        $('#user-post-uncomplain-button').removeAttr('disabled');

                        }
                    });

                });


                $(document).on('click', '#user-post-uncomplain-button', function (e) {
                    var pk = $('#post-pk').val();
                    var actionData = {'action': 'user-post-uncomplain', 'pk': pk};
                    $('#user-post-mark-button').attr('disabled', 'disabled');
                        $('#user-post-complain-button').attr('disabled', 'disabled');
                        $('#user-post-unmark-button').attr('disabled', 'disabled');
                        $('#user-post-uncomplain-button').attr('disabled', 'disabled');
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'history-ajax-save' %}',
                        data: actionData,
                        success: function (data) {
                            $('#user-post-mark-button').removeAttr('disabled');
                        $('#user-post-complain-button').removeAttr('disabled');
                        $('#user-post-unmark-button').removeAttr('disabled');
                        $('#user-post-uncomplain-button').removeAttr('disabled');
                         if (data.saved) {
                            $('#post-current-complain-span').html(data['complain_count']);
                            $('#user-post-mark-button').removeClass('hidden');
                            $('#user-post-complain-button').removeClass('hidden');
                            $('#user-post-uncomplain-button').addClass('hidden');
                        }
                            else {
                                alert('Действие не засчитано');
                            }

                        },
                        error: function (data) {
                       $('#user-post-mark-button').removeAttr('disabled');
                        $('#user-post-complain-button').removeAttr('disabled');
                        $('#user-post-unmark-button').removeAttr('disabled');
                        $('#user-post-uncomplain-button').removeAttr('disabled');

                        }
                    });

                });





                $(document).on('click', '.comment-show-marked-users, .comment-hide-marked-users', function (e) {

                    var commentBlock = $(this).closest('.single-comment');
                    //var cls = $(this).attr('class');
                    var pk = commentBlock.find('.comment-pk').val();
                    var resultBlock = commentBlock.find('.comment-show-marked');
                    var showButton = commentBlock.find('.comment-show-marked-users')
                    var hideButton = commentBlock.find('.comment-hide-marked-users')
                    var markBlock = commentBlock.find('.comment-mark-block');


                    if ($(this).hasClass('comment-show-marked-users')) {

                        $.ajax({
                            type: 'POST',
                            url: '{% url 'comment-show-marked-users-ajax' %}',
                            data: {'pk': pk},
                            success: function (data) {
                                resultBlock.html(data);
                                showButton.addClass('hidden');
                                hideButton.removeClass('hidden');
                                markBlock.addClass('on-top');
                            },
                            error: function (data) {

                            }
                        });

                    }
                    else {
                        resultBlock.html('');
                        showButton.removeClass('hidden');
                        hideButton.addClass('hidden');
                        markBlock.removeClass('on-top');
                    }

                });


                 $(document).on('click', '.post-show-marked-users, .post-hide-marked-users', function (e) {

                    var postBlock = $(this).closest('#full-post');
                    //var cls = $(this).attr('class');
                    var pk = postBlock.find('#post-pk').val();
                    var resultBlock = postBlock.find('.post-show-marked');
                    var showButton = postBlock.find('.post-show-marked-users')
                    var hideButton = postBlock.find('.post-hide-marked-users')
                    var markBlock = postBlock.find('.post-mark-block');


                    if ($(this).hasClass('post-show-marked-users')) {

                        $.ajax({
                            type: 'POST',
                            url: '{% url 'post-show-marked-users-ajax' %}',
                            data: {'pk': pk},
                            success: function (data) {
                                resultBlock.html(data);
                                showButton.addClass('hidden');
                                hideButton.removeClass('hidden');
                                markBlock.addClass('on-top');
                            },
                            error: function (data) {

                            }
                        });

                    }
                    else {
                        resultBlock.html('');
                        showButton.removeClass('hidden');
                        hideButton.addClass('hidden');
                        markBlock.removeClass('on-top');
                    }

                });


            });

        </script>

        {% include 'super_model/scripts/comment_confirmation_scripts.html' %}

    {% endcompress %}
{% endblock bottom_scripts %}