{% load staticfiles %}
<div class="tiny-comment">
<div class="user-info">
{% if comment.user %}
         <a href="{{ comment.user.get_absolute_url }}">
    {% if comment.user.thumb50 %}
             <img alt="{{ comment.user }}" class="img-rounded" src="{{ comment.user.thumb50 }}">
    {% else %}
     <img alt="Гость" class="img-rounded" src="{% static "prozdo_main/images/guest.png" %}">
    {% endif %}</a>
     <a href="{{ comment.user.get_absolute_url }}" class="user">{{ comment.user }}</a>
    {% else %}
    <img alt="Гость" class="img-rounded" src="{% static "prozdo_main/images/guest.png" %}">
    <span class="guest">{{ comment.username }}</span>
{% endif %}
</div>
    <span class='tiny-comment-body'>{{ comment }}</span>
<a class="go-to-comment-link" href="{{ comment.get_absolute_url }}">Перейти к отзыву</a>
{% if not comment.body == comment.short_body %}
    <input type="button" value="Прочитать отзыв целиком" class="tiny-comment-show-full btn btn-default">
<input type="button" value="x" class="tiny-comment-hide-full hidden btn btn-default">
    {% endif %}

    <input type="hidden" value="{{ comment.pk }}" class="tiny-comment-pk">
</div>
